@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
body {
  font-family: "Red Hat Display", sans-serif;
}

.main__title {
  font-weight: 500;
}

.ingredient-card,
.card {
  font-size: 1.2em;
}

.main__top-background {
  min-height: 13rem;
  background: url("../images/32000-ffffff.svg") center/70% no-repeat;
}

.main__title {
  color: white;
  text-align: center;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10px;
}
.search-form__item {
  background-color: #282828;
  outline: 1px solid white;
  color: gray;
  font-size: 1.3em;
}
.search-form__item:hover {
  outline: 1px solid #FFE70D;
}
.search-form__item_input {
  width: 40%;
  min-height: 3.5rem;
  padding-left: 10px;
}
.search-form__item_list {
  width: 20%;
  text-align: center;
}
.search-form__item_list option {
  background-color: #282828;
}
.search-form__item_button {
  width: 10%;
}

.error-message {
  width: 60%;
  border: none;
  padding: 20px;
  text-align: center;
  font-size: 1.3em;
  color: rgb(202, 68, 90);
}

@media screen and (min-width: 507px) and (max-width: 1023px) {
  .main__top-background {
    min-height: 8rem;
  }
  .search-form {
    width: 95%;
  }
  .search-form__item_input {
    width: 40%;
  }
  .search-form__item_list {
    width: 40%;
  }
  .search-form__item_button {
    width: 15%;
  }
}
@media screen and (min-width: 388px) and (max-width: 506px) {
  .main__top-background {
    min-height: 10rem;
    background: url("../images/picture_mobile.svg") center/25% no-repeat;
  }
  .search-form {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .search-form__item {
    min-height: 3rem;
    margin-bottom: 15px;
  }
  .search-form__item_input {
    width: 80%;
  }
  .search-form__item_list {
    width: 84%;
  }
  .search-form__item_button {
    width: 84%;
  }
}
@media screen and (max-width: 387px) {
  .main__top-background {
    min-height: 11rem;
    background: url("../images/picture_mobile.svg") center/35% no-repeat;
  }
  .search-form {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .search-form__item {
    min-height: 3rem;
    margin-bottom: 15px;
  }
  .search-form__item_input {
    width: 80%;
  }
  .search-form__item_list {
    width: 84%;
  }
  .search-form__item_button {
    width: 84%;
  }
}
/* Саша начало */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.card {
  position: relative;
  width: 25%;
  min-height: 980px;
  padding: 40px;
  margin: 10px;
  overflow: visible;
  line-height: 1.3em;
  background-color: #fff;
}

img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

#glass {
  display: none;
}

#recipe {
  display: none;
}

.card:hover #glass {
  display: block;
}

.card:hover #recipe {
  display: block;
}

/* Саша конец */
.ingredient-card {
  width: 40%;
  padding: 40px;
  background-color: white;
  text-align: center;
}

@media screen and (min-width: 800px) and (max-width: 1090px) {
  .card {
    width: 20%;
    min-height: 600px;
    font-size: 1em;
  }
  img {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 507px) and (max-width: 799px) {
  .card {
    padding: 20px;
    width: 35%;
    min-height: 550px;
    font-size: 1em;
  }
  img {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 506px) {
  .card {
    padding: 25px;
    width: 60%;
    font-size: 1em;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  img {
    margin-bottom: 10px;
  }
}
ol, ul {
  list-style: none;
}

.nav {
  margin: 0 auto;
  background-color: #151313;
}
.nav-menu {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}
.nav-link:hover {
  color: #FFE70D;
}

.random-cards {
  text-align: center;
}
.random-cards h1 {
  color: white;
}

.random {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  text-align: left;
}
.random h2 {
  text-align: center;
}
.random-card {
  position: relative;
  padding: 30px;
  height: 400px;
  width: 30%;
  background-color: #fff;
  margin: 10px;
  overflow: visible;
}
.random-card_image {
  display: inline-block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.random-card:hover {
  height: 405px;
}

body {
  background: linear-gradient(0deg, #151313 10%, #282828 50%, #151313 90%);
}/*# sourceMappingURL=style.css.map */