/* Саша начало */

body {
    background-color: #efefef;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 10px;
}

.card {
    position: relative;
    padding: 40px;
    min-height: fit-content;
    // height: 700px;
    width: 25%;
    background-color: #fff;
    margin: 10px;
    overflow: visible;
}

.recipe-card {
    margin-bottom: 10px;
}

img {
    display: inline-block;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#glass {
    display: none;
}

#recipe {
    display: none;
}

.card:hover #glass {
    display: block;
}

.card:hover #recipe {
    display: block;
}



/* Саша конец */

// Ильвина начало
.ingredient-card {
    width: 40%;
    padding: 40px;
    background-color: white;

    text-align: center;
}

// Ильвина конец