/* Саша начало */


.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 10px;
}

.card {
    position: relative;
    width: 25%;
    min-height: 980px;
    padding: 40px;
    margin: 10px;
    overflow: visible;

    line-height: 1.3em;

    background-color: #fff;
}


img {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 20px;
    -o-object-fit: cover;
    object-fit: cover;
}

#glass {
    display: none;
}

#recipe {
    display: none;
}

.card:hover #glass {
    display: block;
}

.card:hover #recipe {
    display: block;
}



/* Саша конец */

// Ильвина начало
.card-by-ingredient {
    width: 25%;
    min-height: 200px;
    padding: 40px;
    margin: 10px;

    line-height: 1.3em;

    background-color: #fff;
}

.card-button {
    width: 60%;
    padding: 10px;
    margin-left: 20%;
    border: 2px solid $background-color;
    font-size: 1.2em;

    background-color: white;
    &:hover {
        border: 2px solid $yellow-color;
    }
}

.ingredient-card {
    width: 40%;
    padding: 40px;
    background-color: white;

    text-align: center;
}

@media screen and (min-width:800px) and (max-width:1090px){
    .card {
        // padding: 20px;
        width: 20%;
        min-height: 600px;
        font-size: 1em;
    }
    
    img {
        margin-bottom: 15px;
    }
}

@media screen and (min-width:507px) and (max-width:799px) {
    .card {
        padding: 20px;
        width: 35%;
        min-height: 550px;
        font-size: 1em;
    }
    
    img {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:506px) {
    .card {
        padding: 25px;
        width: 60%;
        font-size: 1em;
        min-height: fit-content;
    }
    img {
        margin-bottom: 10px;
    }
}

// Ильвина конец