/* Саша начало */

body {
    background-color: #efefef;
    height: 100%;
  }
  
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 10px;
  }
  
  .card {
    position: relative;
    padding: 30px;
    height: 700px;
    /* width: 500px; */
    background-color: #fff;
    margin: 10px;
    overflow: visible;
  }
  
  img {
    display: inline-block;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  #glass {
    display: none;
  }
  
  #recipe {
    display: none;
  }
  
  .card:hover #glass {
    display: block;
  }
  
  .card:hover #recipe {
    display: block;
  }
  


/* Саша конец */

// Ильвина начало
.ingredient-card {
    width: 40%;
    padding: 40px;
    background-color: white;

        text-align: center;
}
// Ильвина конец