ol, ul {
    list-style: none; }

.nav {
    margin: 0 auto;
    background-color: $background-color;

    &-menu {
        @include container;
        display: flex;
        flex-wrap: wrap;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }
    &-link { 
        display: block;
        padding: 24px 0;
        text-decoration: none;
        color: white;
        transition: color .2s ease;

        &:hover {
            color: $yellow-color;
        }
    } 
}
.banner {

    &_container {
        background: url(/src/images/selection2-of-various-cocktails-on-the-table.jpg);
        background-size: cover;
        min-height: 60vh;
    
    }
}
