.random-cards {
    text-align: center;

    h1 {
        color: white;
    }
}
.random {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    text-align: left;

    @media screen and (min-width:800px) and (max-width:1090px) {
        .random-card{
            width: 35%;
            min-height: auto;
            font-size: 1em;
            text-overflow: clip;
        }
        #random-card_content {
            overflow: scroll;
        }
    }
    @media screen and (min-width:507px) and (max-width:799px) {
        .random-card{
            padding: 20px;
            width: 80%;
            font-size: 1.5em;
            height: 600px;
        }
        #random-card_content {
            overflow: scroll;
        }
    }
    @media screen and (max-width:506px) {
        .random-card{
            font-size: 1em;
            min-height: fit-content;
            width: 60%;
        }
        #random-card_content {
            overflow: scroll;
        }
    }

    h2 {
        text-align: center;
    }

    &-card {
        position: relative;
        padding: 30px;
        margin: 10px;
        min-height: 400px;
        width: 30%;
        background-color: #fff;
        margin: 10px;
        overflow: visible;

        line-height: 1.3em;

        &_image {
            display: inline-block;
            max-width: 100%;
            object-fit: cover;
        }

        &:hover {
            box-shadow: 0 8px 16px 0 black;
        }
    }
}