.random-cards {
    text-align: center;

    h1 {
        color: white;
    }
}
.random {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    text-align: left;

    @media (min-width: $mobile-large) and (max-width: $tablet) {
        .random{
            justify-content: center;
        }
    }
    @media (min-width: $mobile) and (max-width: $mobile-large)  {
        .random{
            justify-content: center;
        }
    }
    @media (max-width: $mobile-small)  {
        .random{
            justify-content: center;
        }
    }

    h2 {
        text-align: center;
    }

    &-card {
        position: relative;
        padding: 30px;
        height: 400px;
        width: 30%;
        background-color: #fff;
        margin: 10px;
        overflow: visible;

        &_image {
            display: inline-block;
            max-width: 100%;
            object-fit: cover;
        }

        &:hover {
            height: 401px;
            box-shadow: 0 8px 16px 0 black;
        }
    }
}