.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;

    &__item {
        background-color: $background-color;
        outline: 1px solid white;
        color: gray;
        font-size: 1.3em;

        &:hover {
            outline: 1px solid $yellow-color;
        }

        &_input {
            width: 40%;
            min-height: 3.5rem;
            padding-left: 10px;
        }

        &_list {
            width: 20%;
            text-align: center;
            & option {
                background-color: $background-color ;
            }
        }

        &_button {
            width: 10%;
        }
    }
}

.error-message {
    width: 60%;
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    color: rgb(202, 68, 90);
}


@media screen and (min-width:507px) and (max-width:1023px) {
    .search-form {
        width: 95%;
        &__item {
            &_input {
                width: 40%;
            }
    
            &_list {
                width: 40%;
            }
    
            &_button {
                width: 15%;
            }
        }
    }
}

@media screen and (min-width:388px) and (max-width:506px) {
    .search-form {
        flex-direction: column;
        align-content: center;
        align-items: center;

        &__item {
            min-height: 3rem;
            margin-bottom: 15px;
    
            &_input {
                width: 80%;
            }
    
            &_list {
                width: 84%;
            }
    
            &_button {
                width: 84%;
            }
        }
    }
}

@media screen and (max-width:387px) {
    .search-form {
        flex-direction: column;
        align-content: center;
        align-items: center;

        &__item {
            min-height: 3rem;
            margin-bottom: 15px;
    
            &_input {
                width: 80%;
            }
    
            &_list {
                width: 84%;
            }
    
            &_button {
                width: 84%;
            }
        }
    }
}
