.main__top-background {
    min-height: 13rem;

    background: url('../images/32000-ffffff.svg') center / 70% no-repeat;
}

.main__title {
    color: white;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 20px 10px;

    &__item {
        background-color: $background-color;
        border: 1px solid white;
        color: gray;

        font-size: 1.3em;

        &:hover {
            border: 1px solid $yellow-color;
        }
        // .search-form__item_input

        &_input {
            width: 40%;
            min-height: 3.5rem;
            padding-left: 10px;
        }

        &_list {
            width: 20%;
            text-align: center;
            & option {
                background-color: $background-color ;
            }
        }

        &_button {
            width: 10%;
        }

        &_error-message {
        }
    }
}
