.search-form {
    display: flex;
    justify-content: center;

    border-top: 1px solid $yellow-color;

    padding: 20px 10px;
    margin: 70px;

    // .search-form__item

    &__item {
        background-color: $background-color;
        border: 1px solid white;
        color: white;

        font-size: 1.3em;

        &:hover {
            color: black;
        }
        // .search-form__item_input

        &_input {
            width: 40%;
            min-height: 3.5rem;
        }

        // .search-form__item_list

        &_list {
            width: 20%;
        }

        // .search-form__item_button

        &_button {
            width: 10%;
        }

        // .search-form__item_error-message

        &_error-message {
        }
    }
}
